<main>
    <div class="container">
        <!--Form to update email-->
        <form id="updateForm" name="updateForm">
            <fieldset class="container border border-secondary p-3 rounded col-6">
                <legend class="font-weight-light bg-secondary text-center text-white w-50 rounded">Edit/Delete
                    Member</legend>
                <div class="form-group">
                    <label for="USERNAME">User Name</label>
                    <input type="text" class="form-control" id="USERNAME" name="USERNAME" [(ngModel)]="USERNAME" value={{this.username}} readonly>
                </div>
                <div class="form-group">
                    <label for="EMAIL">Email</label>
                    <input type="text" class="form-control" id="EMAIL" name="EMAIL" [(ngModel)]="EMAIL" value={{this.email}} required>
                </div>
                <!--buttons to update and delete user-->
                <button type="submit" class="btn btn-light blueBackground" id="update" (click)="onSubmit()">Update</button>
                <button type="button" class="btn btn-primary" id="areYouSure" data-toggle="modal" data-target="#removeModal">Remove User</button>
            </fieldset>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Remove User</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to remove this user?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Take Me Back</button>
                        <button type="button" class="btn btn-primary" id="remove">Yes, Remove Them</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end of modal-->
        <div id="msgDiv"></div>
    </div>
</main>