<!doctype html>
<html lang="en">

<head>
    {{> head }}
    <link rel="stylesheet" href="/styles/admin.css">
</head>

<body>
    {{> navbar }}

    {{> header}}

    <main>
        <div class="container">
            <h2 class="display-3 text-center">Users</h2>
            <!--table with basic team details-->
            <table id="userTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>User Email</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
    </main>

    {{> footer}}
    {{> scripts}}

    <!--My JavaScript-->
    <script src="/scripts/admin.js"></script>
</body>

</html>