<main>
    <div class="container">
        <!--Form to register, username, email, password-->
        <form id="registerForm" name="registerForm" method="POST">
            <fieldset class="container border border-secondary p-3 rounded col-6">
                <legend class="font-weight-light bg-secondary text-center text-white w-50 rounded">Register</legend>
                <div class="form-group">
                    <label for="USERNAME">User Name</label>
                    <input type="text" class="form-control" id="USERNAME" name="USERNAME" [(ngModel)]="USERNAME" required>
                </div>
                <div class="form-group">
                    <label for="EMAIL">Email</label>
                    <input type="text" class="form-control" id="EMAIL" name="EMAIL" [(ngModel)]="EMAIL" required>
                </div>
                <div class="form-group">
                    <label for="PASSWORD">Password</label>
                    <input type="password" class="form-control" id="PASSWORD" name="PASSWORD" [(ngModel)]="PASSWORD" required>
                </div>
                <!--button for register-->
                <button type="submit" class="btn btn-light blueBackground" id="register" (click)="onSubmit()">Register</button>
            </fieldset>
        </form>
        <div id="msgDiv"></div>
    </div>
</main>
